/* Tailwind v4 style (recommended) */
@import "tailwindcss";


/* App globals (optional) */
:root {
  color-scheme: dark;
}

body {
  margin: 0;
}

/* SortableJS ghost class for dragging */
.sortable-ghost {
  opacity: 0.5;
  background-color: rgba(63, 63, 70, 0.5) !important;
}